body {
    background-image: url(./background/home-1a.JPG);
    background-repeat: no-repeat;
    background-size: cover;

}

a {
    text-decoration: none;
    color: white;
}

.link {
    text-decoration: underline solid white .1vw;
}

.title {
    color: white;
    font-size: 3vw;
    border: solid white .1vw;
    padding: .5%;
    font-style: italic;
    text-align: center;
    margin: 2% 0% 0% 3%;
    width: 92%;
    
}

.title:hover {
    color: white;
    font-size: 3vw;
    border: solid white .1vw;
    padding: .5%;
    font-style: italic;
    text-align: center;
    margin: 2% 0% 0% 3%;
    width: 92%;
    background-image: url(./background/home-6.JPG);
    
}

.plan {
    color: white;
    font-size: 1.5vw;
    margin: 5% 0% 5% 3%;
    font-style: italic;
    opacity: 80%;
    width: 45%;
    border: solid white .1vw;
    padding: .5%;
}

.body-text {
     color: white;
     font-size: 1vw;
     width: 45%;
     margin: 2% 0% 0% 3%;
     line-height: 130%;
}

.home {
    color: white;
    border: .1vw solid white;
    font-size: 1vw;
    font-style: italic;
    padding: .5%;
    text-align: center;
    margin: 15% 0% 5% 3%;
    font-size: 1vw;
    opacity: 90%;
    width: 10%;
}

.home:hover {
    color: white;
    border: .1vw solid white;
    font-size: 1vw;
    font-style: italic;
    padding: .5%;
    text-align: center;
    margin: 15% 0% 5% 3%;
    font-size: 1vw;
    opacity: 90%;
    width: 10%;
    background-image: url(./background/index-bg-4.JPG);
}