
body{
    background-image: url(./images/background-img-home.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.logo {
    margin: 13% 0% 0% 17%;
    width: 50%;
}

.link {
    text-decoration: none;
    opacity: 80%;
}


.statement {
    text-align: center;
    justify-content: center;
    font-size: 1.8vw;
    margin: 8% 0% 0% 15%;
    color: ivory;
    width: 70%;
    font-style: italic;
    opacity: 80%;
}

.statement-2 {
    text-align: center;
    justify-content: center;
    font-size: 1.8vw;
    margin: 1% 0% 0% 15%;
    color: ivory;
    width: 70%;
    font-style: italic;
    opacity: 80%;
}
